Django>=3.1
channels>=2.4.0
channels_redis
django-registration-redux
django-extensions

django-health-check
django-oauth-toolkit
django-cors-headers
django-filter
django-taggit
djangorestframework
drf-access-policy
psycopg2
pytest-django
pytest-asyncio
django-guardian
django-avatar
python-slugify
graphene-django
unflatten

arkitekt

# JWT
lok>=0.1.7

# GraphQL abstaction
balder>=0.1.6


# Testing and Linting
ptvsd
pytest-django 
pytest-asyncio
pylint
pylint-django

pydantic
colorlog
namegenerator
pika
aiormq
pyjwt

# DeployMent
omegaconf
gunicorn
django-probes

# For port provision
docker
