{% extends "base.html" %}

{% block title %}port{% endblock %}
{% block header_text %}port{% endblock %}
{% load static %}
{% block content %}
    <div class="flex flex w-[50%] h-full p-3 mx-auto flex-column">
      <header class="flex flex-row">
          <h3 class="flex-initial my-auto">Port</h3>
          <div class="flex-grow"></div>
          <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link" href="#">Home</a>
            {% if user.is_superuser %}
            <a class="nav-link" href="{% url 'admin:index' %}">Admin</a>
            {% endif %}
            <a class="nav-link" href="{% url 'graphql' %}">GraphQL</a>
            {% if user.is_authenticated %}
            <a class="nav-link" href="{% url 'logout' %}">Logout</a>
            {% endif %}
          </nav>
      </header>

      <main role="main" class="flex flex-col items-center text-center flex-grow">
        <div class="flex w-[600px]">
          <img src="{% static 'img/lok.svg' %}" width="600" height="600">
        </div>
          
          <br/>
          <h1 class="font-bold text-3xl"><p>Port</p> </h1>
        <div class="font-light mt-2 mb-4">Port is the virtualization microservice for the arkitekt platform</p></div>
        <div class="font-bold mt-2 mb-4">
        </div>
      </main>

      <footer class="font-light text-xs flex-initial text-center">
        <div class="inner">
          <p><a href="https://github.com/jhnnsrs/herre-server">port</a>, by <a href="https://github.com/jhnnsrs">@jhnnsrs</a>.</p>
        </div>
      </footer>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="https://getbootstrap.com/docs/4.1/assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="https://getbootstrap.com/docs/4.1/assets/js/vendor/popper.min.js"></script>
{% endblock %}
